---
title: Releases
permalink: "/releases/"
layout: schrodinger-box
---

{% for release in site.releases %}
  <section class="card" id="{{ release.id }}">
    <img src="{{ release.album-art |prepend: site.baseurl }}" alt="{{ release.title }}" />
    <section class="release-details">
      <span class="release-artist">{{ release.artist}}</span>
      <span class="release-title">{{ release.title}}</span>
      <span class="release-date">{{ release.date |date: "%F" }}</span>
    </section>

    <section class="small-social">
      {% include social-links.html type=release %}
    </section>

    <section class="large-social">
      {% include store-links.html type=release %}
    </section>

    {{ release.content }}

    {% for video in site.videos %}
      {% if video.release == release.title %}
        <iframe width="100%" height="400px" src="{{ video.link | replace: 'watch?v=', 'embed/' }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    {% endfor %}

  </section>
{% endfor %}
