<nav class="front-nav">
  <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/Blog.svg" alt="Blog" /></a>
  <a href="{{ site.github.url }}/artists/"><img src="{{ site.github.url }}/images/Artists.svg" alt="Artists" /></a>
  <a href="{{ site.github.url }}/releases/"><img src="{{ site.github.url }}/images/Releases.svg" alt="Releases" /></a>
  <a href="{{ site.github.url }}/videos/"><img src="{{ site.github.url }}/images/Videos.svg" alt="Videos" /></a>
  <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/Shop.svg" alt="Shop" /></a>
  <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/Contact.svg" alt="Contact" /></a>
</nav>
