<nav class="front-nav">
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/Blog.svg" alt="Blog" /></a>
  <a href="{{ site.baseurl }}/artists/"><img src="{{ site.baseurl }}/images/Artists.svg" alt="Artists" /></a>
  <a href="{{ site.baseurl }}/releases/"><img src="{{ site.baseurl }}/images/Releases.svg" alt="Releases" /></a>
  <a href="{{ site.baseurl }}/videos/"><img src="{{ site.baseurl }}/images/Videos.svg" alt="Videos" /></a>
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/Shop.svg" alt="Shop" /></a>
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/Contact.svg" alt="Contact" /></a>
</nav>
