<div id="navOverlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <nav>
    <a href="/#blog"><img src="/images/menu/Blog.png" alt="" onclick="closeNav()" /></a>
    <a href="/artists/"><img src="/images/menu/Artists.png" alt="" /></a>
    <a href="/releases/"><img src="/images/menu/Releases.png" alt="" /></a>
    <a href="/videos/"><img src="/images/menu/Videos.png" alt="" /></a>
    <a href="/"><img src="/images/menu/Shop.png" alt="" /></a>
    <a href="/"><img src="/images/menu/Contact.png" alt="" /></a>
  </nav>
</div>
