{% for store in site.data.stores %}
    {% if include.type.Store[store.name] and include.type.Store[store.name] != '' %}
      <a href="{{ include.type.Store[store.name] }}" class="socicon-{{ store.name }}" aria-hidden="true"></a>
    {% elsif include.type.Release.Store[store.name] and include.type.Release.Store[store.name] != '' %}
        {% for release in site.releases %}
          {% if release.title == include.type.Release and release.Store[store.name] and release.Store[store.name] != '' %}
            <a href="{{ release.Store[store.name] }}" class="socicon-{{ store.name }}" aria-hidden="true"></a>
          {% endif %}
        {% endfor %}
    {% else %}
      {% for artist in site.artists %}
        {% if artist.Name == include.type.artist and artist.Store[store.name] and artist.Store[store.name] != '' %}
          <a href="{{ artist.Store[store.name] }}" class="socicon-{{ store.name }}" aria-hidden="true"></a>
        {% endif %}
      {% endfor %}
    {% endif %}
{% endfor %}
