---
layout: schrodinger-box
---

<main>
  {% include nav-button.html %}
  <img src="{{ page.Photo }}" alt="{{page.title}}" />
  <section class="artist-social">
    {% include social-links.html type=page %}
  </section>

  <section class="text">
    {{ page.content }}
  </section>

  <section class="album-grid">
    {% for release in site.releases %}
      {% if release.Artist == page.title %}
        <a href="{{ release.url }}">
          <img src="{{ release.Image }}" alt="" />
        </a>
      {% endif %}
    {% endfor %}
  </section>

  {% for video in site.videos %}
    {% if video.Artist == page.title and video.Is-Featured %}
      <iframe width="100%" height="400px" src="{{ video.Link | replace: 'watch?v=', 'embed/' }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  {% endfor %}
</main>
